<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lking.com.univalle.project_movil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_EOF"></activity>
        <activity android:name=".Activity_v_split" />
        <activity android:name=".Activity_c_split" />
        <activity android:name=".Activity_v_repet" />
        <activity android:name=".Activity_c_repet" />
        <activity android:name=".Activity_v_capicua" />
        <activity android:name=".Activity_c_capicua" />
        <activity android:name=".Activity_v_fibonacci" />
        <activity android:name=".Activity_c_fibonacci" />
        <activity android:name=".Activity_datos_primitivos" />
        <activity android:name=".Activity_scanner" />
        <activity android:name=".Activity_leerDatos" />
        <activity android:name=".Activity_c_elevar" />
        <activity android:name=".Activity_v_elevar" />
        <activity android:name=".Activity_v_modulo" />
        <activity android:name=".Activity_c_modulo" />
        <activity android:name=".Activity_v_multiplos" />
        <activity android:name=".Activity_c_multiplos" />
        <activity android:name=".Activity_final_sintaxis" />
        <activity android:name=".Activity_semi_sintaxis" />
        <activity android:name=".Activity_final_strings" />
        <activity android:name=".Activity_semi_strings" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_semi" />
        <activity android:name=".Activity_final" />
    </application>

</manifest>